<!DOCTYPE html>
<html>
<head>
  <title>SwellThemeProject</title>
  <%= stylesheet_link_tag    "swell_theme_project/application", media: "all" %>
  <%= javascript_include_tag "swell_theme_project/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
